ul.fancytree-container { border: none; }
span.fancytree-node > span.fancytree-title { white-space: pre-wrap; }
span.fancytree-node.fancytree-node-new > span.fancytree-title {
    color: grey;
    font-family: "Audiowide";
    white-space: pre-wrap;
}
span.fancytree-node.fancytree-active.fancytree-node-new > span.fancytree-title {
    backgroud-color: lightgrey;
}
span.fancytree-checkbox { background-position: -16px -32px; }

.tree-input-dropdown-toggle { width: 100%; text-align: left; white-space: pre-wrap; }
.tree-input-absolute .tree-input-dropdown-toggle { width: auto; }
.tree-input-absolute .tree-input-collapse { position: absolute; z-index: 10; }